/*Paleta de colores del programa
 #74d4cc 
 #c0e7e2
 #d7edea
#f4fbfb 
 #ade5de 
 #ccd4d4 
 #ccdcd4 
*/
/*body{
   Linkk de fondo
   https://img.freepik.com/vector-gratis/antecedentes-medicos-limpios_53876-97927.jpg?t=st=1649910086~exp=1649910686~hmac=637913c6fe5b1b0f8182cdf99f2fd57c8bc3aebca5c0558501062cab5946d6d9&w=740
   
    background-image: url(https://img.freepik.com/vector-gratis/antecedentes-medicos-limpios_53876-97927.jpg?t=st=1649910086~exp=1649910686~hmac=637913c6fe5b1b0f8182cdf99f2fd57c8bc3aebca5c0558501062cab5946d6d9&w=740);
     seteamos el tamano del fondo a cover
    background-size: cover;
     se centra la imagen centrada verticual y horizontalmente
    background-position: center center;
    Para que la imagen no se repita
    background-repeat: no-repeat;
    Se coloca la imagen cde fondo como fixed
    background-attachment: fixed;
    color por defecto del background por si la imagen no aparece 
    background-color: cornflowerblue;
     recomendable padding and margin 
    margin: 0;
    padding: 0;
}*/

.radio-usuario{
    display: flex;
    justify-content:space-between;
    margin-top: 2em;
}
.boton-submit{
    margin-top: 3em;
    padding: 1.5em;
}
.container-login, .p-text{
    font-weight: bold;
    color: gray;
/*    background-color: #ade5de ;*/
}

.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
}
/*.gradient-custom {
 soporte de color para viejos browsers 
background: #6a11cb;

 validez para Chrome 10-25 y Safari 5.1-6 
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

validez a otros browsers W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}*/