.radio-usuario{
    display: flex;
    justify-content:space-between;
    margin-top: 2em;
}
.boton-submit{
    margin-top: 3em;
    padding: 1.5em;
}
.container-login, .p-text{
    font-weight: bold;
    color: gray;
    background-color: #e8ebf1 ;
    
}

.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(205, 45%, 68%) 15%,
        hsl(205, 45%, 68%) 35%,
        hsl(205, 45%, 62%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
}
/*.gradient-custom {
 soporte de color para viejos browsers 
background: #6a11cb;

 validez para Chrome 10-25 y Safari 5.1-6 
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

validez a otros browsers W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}*/



.ilustration-container{

    left: 0px;
    top: 93px;
}

