.form-inline{
    display: flex;
}

.icons{
    font-size: 2.6em;
}
.icons-1{
    font-size: 4em;
}
.icons-2{
     font-size: 6em;
}
.boton{
    height: 100%;
    background-color: rgb(32, 48, 76);
}

.row-padding{
    padding:2em;
}
.row-margin{
    margin: 1em;
}
.margin-space{
    margin-left: 10px;
}
.size-span{
    width: 6em;
}

